Repository firedancer-io/firedancer, pull requests merged in 2024-11, with the labels that each got.

#3285 quic: test varint and bitfield parser
  src/waltz/quic/tests/Local.mk
  src/waltz/quic/tests/test_frames.c
  src/waltz/quic/tests/test_quic_proto.c
Labels: quic, testing

#3277 QUIC performance work
  src/waltz/quic/Local.mk
  src/waltz/quic/fd_quic.c
  src/waltz/quic/fd_quic_ack_tx.c
  src/waltz/quic/fd_quic_pcap_main.c
  src/waltz/quic/fd_quic_proto.c
  src/waltz/quic/fd_quic_retry_private.h
  src/waltz/quic/templ/fd_quic_encoders.h
  src/waltz/quic/templ/fd_quic_encoders_decl.h
  src/waltz/quic/templ/fd_quic_parse_util.h
  src/waltz/quic/templ/fd_quic_parsers.h
  src/waltz/quic/templ/fd_quic_parsers_decl.h
  src/waltz/quic/templ/fd_quic_templ_dump.h
  src/waltz/quic/templ/fd_quic_templ_dump_decl.h
  src/waltz/quic/templ/test_quic_transport_params.c
  src/waltz/quic/tests/fuzz_quic_wire.c
  src/waltz/quic/tests/test_quic_ack_tx.c
  src/waltz/quic/tests/test_quic_concurrency.c
  src/waltz/quic/tests/test_quic_conformance.c
  src/waltz/quic/tests/test_quic_layout.c
  src/waltz/quic/tests/test_quic_proto.c
Labels: quic, perf

#3472 quic: fix PATH_CHALLENGE parser
  src/waltz/quic/templ/fd_quic_frames_templ.h
  src/waltz/quic/tests/test_quic_conformance.c
Labels: quic

#3555 Add fddev quic-trace command
  src/app/fdctl/fdctl.h
  src/app/fdctl/run/tiles/fd_quic_tile.c
  src/app/fdctl/run/tiles/fd_quic_tile.h
  src/app/fddev/fddev.h
  src/app/fddev/main1.c
  src/app/fddev/quic_trace/Local.mk
  src/app/fddev/quic_trace/fd_quic_trace.h
  src/app/fddev/quic_trace/fd_quic_trace_frame.c
  src/app/fddev/quic_trace/fd_quic_trace_main.c
  src/app/fddev/quic_trace/fd_quic_trace_rx_tile.c
  src/waltz/quic/templ/fd_quic_frame.c
  src/waltz/quic/templ/fd_quic_frame.h
Labels: quic, Priority: High

#3558 tpu: separate out tpu_reasm buffers into dcache
  src/app/fdctl/config.c
  src/app/fdctl/run/run.c
  src/app/fdctl/run/tiles/fd_quic_tile.c
  src/app/fdctl/run/tiles/fd_verify.c
  src/app/fdctl/run/topos/fd_firedancer.c
  src/app/fdctl/run/topos/fd_frankendancer.c
  src/app/fddev/bench.c
  src/app/fddev/dump.c
  src/disco/quic/fd_tpu.h
  src/disco/quic/fd_tpu_reasm.c
  src/disco/quic/fd_tpu_reasm_private.h
  src/disco/quic/test_tpu_reasm.c
  src/disco/topo/fd_topo.c
  src/disco/topo/fd_topo.h
  src/disco/topo/fd_topob.c
  src/disco/topo/fd_topob.h
Labels: quic
