Repository firedancer-io/firedancer, pull requests merged in 2024-07, with the labels that each got.

#2263 quic: gracefully ignore STOP_SENDING frame
  src/waltz/quic/fd_quic.c
Labels: quic, Priority: Low

#2274 fd_fec_resolver: discard legacy shreds, wrong shred version
  src/app/fdctl/run/tiles/fd_shred.c
  src/disco/shred/fd_fec_resolver.c
  src/disco/shred/fd_fec_resolver.h
  src/disco/shred/test_fec_resolver.c
Labels: security

#1097 simd: support more AVX-512 masked ops
  src/util/simd/fd_avx512_wwi.h
  src/util/simd/fd_avx512_wwl.h
  src/util/simd/fd_avx512_wwu.h
  src/util/simd/fd_avx512_wwv.h
  src/util/simd/test_avx512_16x32.c
  src/util/simd/test_avx512_8x64.c
Labels: crypto, perf

#2312 vm: fix handling of LE instruction
  src/flamenco/vm/fd_vm_interp_core.c
  src/flamenco/vm/instr_test/int_math.instr
Labels: Priority: High, runtime, vm

#2362 quic: shrink fd_quic_transport_params_t size
  src/waltz/quic/templ/Local.mk
  src/waltz/quic/templ/fd_quic_templ.h
  src/waltz/quic/templ/fd_quic_transport_params.h
  src/waltz/quic/templ/test_quic_transport_params.c
  src/waltz/quic/templ/test_tp.c
Labels: quic

#2361 quic: don't buffer peer's transport params
  src/waltz/quic/fd_quic.c
  src/waltz/quic/fd_quic_conn.h
  src/waltz/quic/fd_quic_private.h
  src/waltz/quic/tests/test_quic_tls_hs.c
  src/waltz/quic/tls/fd_quic_tls.c
  src/waltz/quic/tls/fd_quic_tls.h
Labels: quic

#2374 quic: remove unnecessary variable
  src/waltz/quic/fd_quic.c
Labels: quic

#2364 quic: improve handling of self transport params
  src/waltz/quic/fd_quic.c
  src/waltz/quic/tests/test_quic_tls_hs.c
  src/waltz/quic/tls/fd_quic_tls.c
  src/waltz/quic/tls/fd_quic_tls.h
Labels: quic

#2415 QUIC - various fixes
  src/waltz/quic/crypto/fd_quic_crypto_suites.c
  src/waltz/quic/crypto/fd_quic_crypto_suites.h
  src/waltz/quic/fd_quic.c
  src/waltz/quic/templ/fd_quic_encoders.h
  src/waltz/quic/tests/fuzz_quic_wire.c
  src/waltz/quic/tests/test_quic_crypto.c
Labels: quic, Priority: High

#2365 quic: don't mutate shared transport parameters
  src/waltz/quic/fd_quic.c
Labels: quic

#2427 quic: free server-side tls_hs when peer ACKs handshake_done
  src/waltz/quic/fd_quic.c
  src/waltz/quic/fd_quic_conn.h
  src/waltz/quic/tls/fd_quic_tls.h
Labels: quic

#2446 quic: fix for occasional ack packet not being acked
  src/waltz/quic/fd_quic.c
Labels: quic, Priority: High

#2457 Fix QUIC RX stream size limits
  contrib/quic/agave_compat/src/main.rs
  src/app/fdctl/run/tiles/fd_quic.c
  src/app/fddev/tiles/fd_benchs.c
  src/app/fddev/txn.c
  src/waltz/quic/tests/fd_quic_test_helpers.c
Labels: quic

#2467 quic: validate Retry Integrity tags client-side
  src/waltz/quic/crypto/fd_quic_crypto_suites.c
  src/waltz/quic/fd_quic.c
Labels: quic, Priority: Low
