Repository firedancer-io/firedancer, pull requests merged in 2024-08, with the labels that each got.

#2571 txn: remove allow_zero_signatures flag
  src/ballet/txn/fd_txn.h
  src/ballet/txn/fd_txn_parse.c
  src/flamenco/runtime/fd_blockstore.c
  src/flamenco/runtime/fd_runtime.c
  src/flamenco/types/fd_types_custom.c
Labels: Priority: Low

#2572 config: enable -z relro
  config/extra/with-security.mk
Labels: security, Priority: High

#2568 config: flatten fuzz-test dir
  .github/workflows/clusterfuzz.yml
  config/everything.mk
Labels: build, Priority: Low

#2569 doc: add build-system.md
  doc/build-system.md
Labels: docs, Priority: Low

#2657 quic: fix frame_type validation
  src/waltz/quic/templ/fd_quic_frame_types_templ.h
Labels: quic, Priority: Low

#2513 flamenco, fuzz: Fuzz VM CPI syscalls
  src/flamenco/runtime/fd_executor.c
  src/flamenco/runtime/fd_executor.h
  src/flamenco/runtime/tests/fd_exec_instr_test.c
  src/flamenco/runtime/tests/fd_exec_sol_compat.c
  src/flamenco/runtime/tests/test_exec_sol_compat.c
  src/flamenco/vm/fd_vm_base.h
  src/flamenco/vm/syscall/fd_vm_syscall_cpi.c
Labels: vm
